!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}
%head
  = render :partial => "shared/head"

%body
  #container
    #header
      = link_to 'vote.ananasblau', root_url

    #navigation
      = render :partial => "shared/navigation"

    #ads
      %ul
        %li= link_to '@Twitter', 'http://twitter.com/vote4'

    #content{:class => params[:controller]}
      - flash.each do |flash_type, message|
        %p{:class => 'flash ' + flash_type.to_s}= h(message)

      = yield :layout

    #sidebar
      = yield(:sidebar) || render(:partial => 'shared/sidebar')
    #footer
      (C) 2009 by <a href="http://www.ananasblau.com">ananasblau</a>.