!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}
%head
  = render :partial => "shared/head"

%body
  #container
    #navigation
      = render :partial => "shared/navigation"

    #header
      = link_to image_tag('logo.png', :alt => t(:'app.title')), root_url

    #about
      .description= t(:'app.description')
      .help= t(:'app.help')

    #content{:class => params[:controller]}
      - flash.each do |flash_type, message|
        %p{:class => 'flash ' + flash_type.to_s}= h(message)

      = yield :layout

    #sidebar
      = yield(:sidebar) || render(:partial => 'shared/sidebar')
    #footer
      (C) 2009 by <a href="http://www.ananasblau.com">ananasblau</a>.
      = link_to 'about & contact', '/about'